<html>

<body>
<h1>Registration</h1>
<form action="/registerAuth" method="POST">
	<p>Username:</p>
	<input type="text" name = "username" placeholder="username" maxlength="20" required/>

	<p>Password:</p>
	<input type="password" name = "password" placeholder="password" maxlength="20" required/>

	<p>First name:</p>
	<input type="text" name = "firstname" placeholder="firstname" maxlength="20" required/>

	<p>Last Name:</p>
	<input type="text" name = "lastname" placeholder="lastname" maxlength="20" required/>

	<p>Date of Birth:</p>
  	<input type="date" id="birthday" name="birthday" min="1900-01-01"  required/>
	<script>
      const dateInput = document.getElementById('dateInput');
      const minDateFor18 = new Date();
      minDateFor18.setFullYear(minDateFor18.getFullYear() - 18);

      birthday.max = formatDate(minDateFor18);

      function formatDate(date) {
         const year = date.getFullYear();
         const month = String(date.getMonth() + 1).padStart(2, '0');
         const day = String(date.getDate()).padStart(2, '0');
         return `${year}-${month}-${day}`;
      }
   	</script>

    <p>Gender:</p>


	<select name="gender" id="gender" required/>
		<option disabled selected value> -- select an option -- </option>
    	<option value=1>Male</option>
    	<option value=2>Female</option>
    	<option value=0>Non-Binary</option>
		<option value=9>Prefer Not to Disclose</option>
  	</select>

	<p>Phone Number:</p>
  	<input type="tel" id="phone" name="phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required/>

	<p>Email Address:</p>
  	<input type="email" id="email" name="email" placeholder="you@example.com" maxlength="50" required/>

	<br><br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Go back</a>

</body>


</html>
