<html>
<head>
</head>
<body>
<h1>Viewing Unit</h1>

<style type="text/css">
	table, th, td{border: 1px solid black;}
	td {
        word-wrap: break-word;
        max-width: 400px; /* Sets a maximum width for each cell
    }
</style>

<table>
	<h3>Unit Info</h3>
	<th>Rental ID</th>
	<th>Unit Number</th>
	<th>Monthly Rent</th>
	<th>Sq Footage</th>
	<th>Move In Date</th>
	<th>Bed&Bath</th>

	<tr>
		<td>{{posts.UnitRentID}}</td>
		<td>{{posts.unitNumber}}</td>
		<td>{{posts.MonthlyRent}}</td>
		<td>{{posts.squareFootage}}</td>
		<td>{{posts.AvailableDateForMoveIn}}</td>
		<td>{{posts.BedroomCount}}bed {{posts.BathroomCount}}bath</td>
	</tr>
</table>
<br>
<table>
	<h3>Unit Rooms</h3>
	<th>Room Name</th>
	<th>Square Footage</th>
	<th>Description</th>

	{% for line in posts1 %}
	<tr>
		<td>{{line.name}}</td>
		<td>{{line.squareFootage}}</td>
		<td>{{line.description}}</td>
	</tr>
	{% endfor %}
</table>
<br>
<table>
	<h3>Unit Amenities</h3>
	<th>Type</th>
	<th>Description</th>

	{% for line in posts2 %}
	<tr>
		<td>{{line.aType}}</td>
		<td>{{line.Description}}</td>
	</tr>
	{% endfor %}
</table>
<br>
<table>
	<h3>Building Info</h3>
	<th>Company Name</th>
	<th>Building Name</th>
	<th>Year Built</th>
	<th>Address</th>

	<tr>
		<td>{{posts.CompanyName}}</td>
		<td>{{posts.BuildingName}}</td>
		<td>{{posts.YearBuilt}}</td>
		<td>{{posts.AddrNum}} {{posts.AddrStreet}}, {{posts.AddrCity}}, {{posts.AddrState}} {{posts.AddrZipCode}}</td>
	</tr>
</table>
<br>
<table>
	<h3>Building Amenities</h3>
	<th>Type</th>
	<th>Description</th>
	<th>Fee</th>
	<th>Waiting List</th>

	{% for line in posts3 %}
	<tr>
		<td>{{line.aType}}</td>
		<td>{{line.Description}}</td>
		<td>{{line.Fee}}</td>
		<td>{{line.waitingList}}</td>
	</tr>
	{% endfor %}
</table>
<br>
<table>
	<h3>Building Pet Policy</h3>
	<th>Type</th>
	<th>Size</th>
	<th>Allowed?</th>
	<th>Registration</th>
	<th>Monthly Fee</th>

	{% for line in posts5 %}
	<tr>
		<td>{{line.PetType}}</td>
		<td>{{line.PetSize}}</td>
		{% if line.isAllowed == 1 %}
			<td>Yes</td>
			<td>{{line.RegistrationFee}}</td>
			<td>{{line.MonthlyFee}}</td>
		{% else %}
			<td>No</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
<br>
<h3>Users Interested In This Unit</h3>
<form action="/makeInterest" method="POST">
    Add your roommate count and move in date to display interest<br>
	<input type="hidden" name="unitID" value="{{ posts.UnitRentID }}" />
	<input type="number" name="roomy" id="roomy" min="1" max="9" required/>
    <input type="date" id="movein" name="movein" min="{{posts.AvailableDateForMoveIn}}"  required/>
	<input type="submit" value = Create />
</form>
{% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
{% endif %}
{% if posts4 %}
<form action="/deleteInterest" method="POST">
	<table>
		<th>Username</th>
		<th>Email</th>
		<th>Roommate Count</th>
		<th>Move In Date</th>

		{% for line in posts4 %}
		<tr>
			<td>{{line.username}}</td>
			<td>{{line.email}}</td>
			<td>{{line.RoommateCnt}}</td>
			<td>{{line.MoveInDate}}</td>
			{% if line.username == username %}
				<input type="hidden" name="unit1" value="{{ posts.UnitRentID }}" />
				<td><input type="submit" value = Delete /><td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</form>
{% else %}
Nobody has posted interest. Maybe you should be the first?
<br>
{% endif %}
<br>
<h3>Comments on this Unit</h3>
<form action="/makeComment" id="yeet" method="POST">
    Leave a rating and comment<br>
	<br>
	<input type="hidden" name="unit1" value="{{ posts.UnitRentID }}" />
	<select name="details" id="details" required/>
		<option disabled selected value> -- select an option -- </option>
    	<option value=1>1 Star</option>
		<option value=2>2 Stars</option>
		<option value=2>3 Stars</option>
		<option value=2>4 Stars</option>
		<option value=2>5 Stars</option>
  	</select>
	<br><br>
	<textarea rows="4" cols="50" name="comment" maxlength="300" placeholder="300 character limit" required></textarea>
	<br><br>

	<input type="submit" value = Submit />
</form>
{% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
{% endif %}
{% if posts6 %}
<form action="/deleteComment" method="POST">
	<table>
		<th>Timestamp</th>
		<th>User</th>
		<th>Rating</th>
		<th>Comment</th>

		{% for line in posts6 %}
		<tr>
			<td>{{line.cdate}}</td>
			<td>{{line.username}}</td>
			<td>{{line.rating}}</td>
			<td>{{line.details}}</td>
			{% if line.username == username %}
				<input type="hidden" name="unit1" value="{{ posts.UnitRentID }}" />
				<input type="hidden" name="timestamp" value="{{ line.cdate }}" />
				<td><input type="submit" value = Delete /><td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</form>
{% else %}
No comments posted. Be the first to leave a comment<br>
{% endif %}
<br>

{% if fav == None %}
	<form action="/addFavorite" method="POST">
		<input type="hidden" name="unitID" value="{{ posts.UnitRentID }}" />
		<input type="submit" value = "Add unit to favorites" />
	</form>
{% else %}
	<form action="/deleteFavorite" method="POST">
		<input type="hidden" name="unitID" value="{{ posts.UnitRentID }}" />
		<input type="submit" value = "Remove unit from favorites" />
	</form>
{% endif %}

{% if origin == 'Listing' %}
	<a href="/searchListings">Go back to listings</a>
{% else %}
	<a href="/viewFavorites">Go back to favorites</a>
{% endif %}


<br>
<a href="/home">Go back to home page</a>
<br>
<a href="/logout">Logout</a>

</body>


</html>
